<!-- container-scroller -->
<!-- plugins:js -->
{{ script('vendors/js/vendor.bundle.base.js') }}
{{ script('vendors/js/vendor.bundle.addons.js') }}
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
{{ script('js/shared/off-canvas.js') }}
{{ script('js/shared/misc.js') }}
<!-- End custom js for this page-->
{{ script('vendors/datatables/jquery.dataTables.min.js') }}