<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="adonis, adonisjs, kantin, canteen software"/>
        <meta name="author" content="Fajar Nazmi Fadillah"/>
        <title>UAS - {{ title }}</title>
        <!--favicon-->
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        @include('partials.style-components')
    </head>
    <body>
    <div class="container-scroller">
        @!section('before-header')
            @include('partials.navbar')
            <div class="container-fluid page-body-wrapper">
                @include('partials.sidebar')
                @!section('before-main')
                    @!section('main-content')
                @!section('after-main')
            </div>
        @!section('after-header')
    </div>
    @!section('before-script')
        @include('partials.script-components')
    @!section('after-script')
    </body>
</html>